.aside {
  height: 100%;
  width: 200px !important;
  flex: none;
  background-color: #001629;
  border-right: solid 1px #e6e6e6;
  .record-icon {
    padding-right: 10px;
  }
  .data-icon {
    padding-right: 10px;
  }
  .setting-icon {
    padding-right: 10px;
  }
  .el-menu {
    background: inherit;
    border-right: none;
  }
}
